[submodule "ext/moderngpu"]
	path = ext/moderngpu
	url = https://ctcyang@github.com/ctcyang/moderngpu.git
[submodule "ext/merge-spmv"]
	path = ext/merge-spmv
	url = https://ctcyang@github.com/owensgroup/merge-spmv.git
